<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>351912085526-8ukj1nvj6mc069n9kshm8ihsv298eodp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351912085526-8ukj1nvj6mc069n9kshm8ihsv298eodp</string>
	<key>API_KEY</key>
	<string>AIzaSyCYc--JbG2AQwfIWDcyd-dR_koYN2703vw</string>
	<key>GCM_SENDER_ID</key>
	<string>351912085526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekowbuadu.cheatsheet</string>
	<key>PROJECT_ID</key>
	<string>cheatsheet-f4509</string>
	<key>STORAGE_BUCKET</key>
	<string>cheatsheet-f4509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351912085526:ios:ab95a8f43dd222ce</string>
	<key>DATABASE_URL</key>
	<string>https://cheatsheet-f4509.firebaseio.com</string>
</dict>
</plist>